html, body{
  font-family: sans-serif;
}



header{
  background-image: url("photos/banner.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
    /*background-color: black;
    background: linear-gradient(to bottom, black, rgb(66, 66, 73));*/
    padding: 10px;
    
}

.flex-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;


}

a {
  color:azure
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline !important;
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.flex-item {
    margin: 10px;
     opacity: 0; /* Start hidden */
      transform: translateY(40px); /* Start slightly below */
      transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Define transition properties */
}

.flex-item.animate {
       opacity: 1; /* End visible */
      transform: translateY(0); /* End in original position */
    }

.thumb{
  max-width: 80vw;
  height: auto;
  max-height: 600px;
}

.thumb:hover{
  /*height: 620px !important;*/
  box-shadow: 0 0 10px 10px rgba(255, 249, 170, 0.459);
}


body{
    /*background-image: url(photos/soapbubble.webp); */
    margin: 0%;
    background-color: black;

}
p {
    color: azure;
    font-size: xx-large;
    font-family: Cambria;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* The Image */
img {

  aspect-ratio: auto;
    cursor: pointer;
}


/* Description of Image */
div.desc {
  padding: 15px;
  text-align: center;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;

}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0.1)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive Columns */
@media only screen and (max-width: 700px){
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
  .modal-content {
    width: 100%;
  }
}

@media only screen and (max-width: 500px){
  .responsive {
    width: 100%;
  }
}

/* Clear Floats */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.grid-container {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 5% 90% 5%; /* Left bar, main content, right bar */
  max-height: 100vh;
  max-width: 100vw;
}

.top-bar {
  grid-column: 1 / span 3;
  grid-row: 1;
  height: 5vh;
}

.left-bar {
  grid-row: 2;
  background-color: rgb(150, 150, 150);
}

.right-bar {
  grid-row: 2;
  background-color: rgb(150, 150, 150);
}

.main-content {
  grid-row: 2;
  height: fit-content;
  background-color: #000000;
}

.bottom-bar {
  grid-column: 1 / span 3;
  grid-row: 3;
  height: 5vh;
}

.bar {
  background-color: #555;
}

.content-grid {
  overflow-x: hidden;
  display: grid;
}

.new-projects {

}

.lil-guy {

}

.nav {

}

.extras {
  
}